.container {
    height: 100vh;
    background-color: cyan;
  }
  
  .box1 {
    position: sticky;
    top: 100px;
    left: 50px;
    width: 45%;
    float: left;
    background-color: blue;
  }
  .box2 {
    margin-left: 10px;
    width: 45%;
    float: right;
    background-color: chartreuse;
  }
  .box3 {
    /* position: fixed; */
    margin-top: 10px;
    width: 80%;
    /* float: left; */
    background-color: coral;
  }
  .box4 {
    position: sticky;
    margin-top: 5px;
    width: 80%;
    float: right;
    background-color: cornflowerblue;
  }
  